#root {
  font-family: sans-serif;
  $padding: 10px;
  max-width: 900px;
  margin: 0 auto;
  background: rgb(239, 239, 239);
  padding: $padding;

  .search-results {
    .search-title {
      color: #66696a;
      font-size: 1.5em;
    }

    .sorting-controls {
      float: right;

      > div {
        float: right;
        padding: 3px 7px;

        &.active {
          background-color: rgb(241, 167, 39);
        }
      }
    }

    .clear {
      clear: both;
      padding-bottom: $padding;
    }
  }

  .apartments {
    .apartment-card {
      margin-bottom: $padding;
      // https://css-tricks.com/almanac/properties/f/flex/
      display: flex;
      height: 200px;

      .image-preview {
        flex: 2;
        overflow: hidden;
      }
      .details {
        flex: 3;
        background-color: white;
        padding: $padding;
        position: relative;
        height: 100%;

        &:hover {
          background-color: rgb(215, 215, 215);
          .heading {
            hr {
              border-color: #888;
            }
          }
        }

        .heading {
          a {
            color: #333;
            font-size: 1.5em;
            font-weight: bold;
            text-decoration: underline;
          }

          hr {
            margin: 10px 0;
            border-color: rgb(212, 212, 212);
          }
        }

        .description {
          font-size: 0.8em;
          color: #999;
        }

        .price-group {
          position: absolute;
          right: $padding;
          bottom: $padding;

          .price-label {
            font-size: 0.7em;
            color: rgb(237, 161, 39);
          }

          .price-from {
            display: inline-block;
            padding-right: 5px;
          }

          .price-unit {
            text-align: right;
          }

          .price {
            display: inline-block;
            font-size: 2.5em;
            font-weight: bold;
            color: #e99e1a;
          }
        }
      }
    }
  }
}
